* {
    margin: 0;
    padding: 0;
    user-select: none;
}

 html {
    background-image: url(Imagens/Fundo\ Cave\ Azuis.jpg);
    background-size: cover;
    background-position: center;
 }

 h1 {
    background-color: rgb(248, 167, 5);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Times, serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}

header p {
    background-color: rgb(248, 167, 5);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
}


div p {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 2%;
}

div .corum {
    background-color: rgb(248, 167, 5);
}

div .cordois {
    background-color: rgb(248, 220, 5);
}

div {
    margin-top: 100px;

}


nav {
    background-color: rgb(248, 220, 5);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    font-size: 1.2em;
    line-height: 1.3;
    border-radius: 5%
}

nav p {
    margin-top: 5px;
}

.final {
    background-color: rgb(248, 220, 5);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 2%;
    margin-top: 50px;
    font-size: 1.2em;
    padding: 5px;
}

footer {
    background-color: blue;
    height: 50px;
    width: 100%;
    margin-top: 40px;
}

@media (min-width: 1100px) {
    div img {
        height: 380px;
        width: 430px;
    }

    div p {
        max-width: 430px;
    }

    article {
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 1099px) {
    div img {
        height: 280px;
        width: 330px;
    }

    div p {
        max-width: 330px;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

article div {
    transition: transform 1s;
    transform: translateX(0) scale(1);
    border-radius: 1%;
    margin-bottom: 7px;
  }
  
article div:hover,
article div:focus {
    background: rgb(248, 187, 5);
    transform: scale(1.1);
  }